<!-- Validation failure messages -->
<% if @use.errors.any? %>
  <% @use.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Use #<%= @use.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_use/<%= @use.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for purchase_id -->
      <div class="form-group">
        <label for="purchase_id" class="control-label">
          Purchase
        </label>

        <%= select_tag(:purchase_id, options_from_collection_for_select(Purchase.all, :id, :product_id, @use.purchase_id), :class => "form-control") %>
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @use.date %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @use.user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Use
      </button>
      or
      <a href="/uses/<%= @use.id %>">Cancel</a>
    </form>
  </div>
</div>
