<div class="page-header">
  <h3>Use #<%= @use.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Purchase</dt>
      <dd>
        <% if @use.favorite.present? %>
          <a href="/purchases/<%= @use.purchase_id %>">
            <%= @use.favorite.product_id %>
          </a>
        <% end %>
      </dd>

      <dt>Date</dt>
      <dd><%= @use.date %></dd>

      <dt>User</dt>
      <dd>
        <% if @use.user.present? %>
          <a href="/users/<%= @use.user_id %>">
            <%= @use.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/uses" class="btn btn-primary">
        Back
      </a>
      <a href="/uses/<%= @use.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_use/<%= @use.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
