<!-- Validation failure messages -->
<% if @favorite.errors.any? %>
  <% @favorite.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Favorite</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for product_id -->
      <div class="form-group">
        <label for="product_id" class="control-label">
          Product
        </label>

        <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :brand_id, @favorite.product_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @favorite.rating %>">
      </div>

      <!-- Label and input for note -->
      <div class="form-group">
        <label for="note" class="control-label">
          Note
        </label>

        <textarea id="note" name="note" placeholder="Note" class="form-control" rows="3"><%= @favorite.note %></textarea>
      </div>

      <button class="btn btn-success">
        Create Favorite
      </button>
      or
      <a href="/favorites">Cancel</a>
    </form>
  </div>
</div>
