<div class="page-header">
  <h3>Favorite #<%= @favorite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Product</dt>
      <dd>
        <% if @favorite.product.present? %>
          <a href="/products/<%= @favorite.product_id %>">
            <%= @favorite.product.brand_id %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @favorite.user.present? %>
          <a href="/users/<%= @favorite.user_id %>">
            <%= @favorite.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Rating</dt>
      <dd><%= @favorite.rating %></dd>

      <dt>Note</dt>
      <dd><%= @favorite.note %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/favorites" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @favorite.user %>
        <a href="/favorites/<%= @favorite.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_favorite/<%= @favorite.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Favorite has many usages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Usages
      </li>

      <% @favorite.usages.each do |usage| %>
        <li class="list-group-item">
          <a href="/usages/<%= usage.id %>">
            <%= usage.favorite_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/usages/<%= usage.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/usages/<%= usage.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_usage/<%= usage.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_usage" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for favorite_id -->
      <input type="hidden" name="favorite_id" value="<%= @favorite.id %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Usage
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
