<div class="page-header">
  <h1>
    Products
    <a href="/products/new" class="btn btn-lg btn-success">New Product</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Brand</th>
        <th>Shelf life</th>
        <th>Skin type</th>
        <th>Skincare</th>
        <th>Skincare category</th>
        <th>Makeup</th>
        <th>Makeup category</th>
        <th>Actions</th>
      </tr>

      <% @products.each do |product| %>
      <tr>
        <td><%= product.brand.website %></td>
        <td><%= product.shelf_life %></td>
        <td><%= product.skin_type %></td>
        <td><%= product.skincare %></td>
        <td><%= product.skincare_category %></td>
        <td><%= product.makeup %></td>
        <td><%= product.makeup_category %></td>
        <td>
          <a href="/products/<%= product.id %>" class="btn btn-primary">Show</a>
          <a href="/products/<%= product.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_product/<%= product.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
